{{#if success_message}}
   <div class="alert alert-success">
        {{success_message}}
   </div>
    
{{/if}}
{{#if delete_msg}}
    <div class="alert alert-danger">
        {{delete_msg}}
   </div>
   
{{/if}}

{{#if error_message}}
    <div class="alert alert-danger">
        {{error_message}}
   </div>
   
{{/if}}